<app-nav></app-nav>
<div class="a">
  <h2>Creer un utilisateur</h2>
  <form (ngSubmit)="saveChanges()">

    <div class="form-group">
      <label for="firstname">Prénom</label>
      <input type="text" id="firstname" [(ngModel)]="user.firstname" name="firstname" required />
    </div>

    <div class="form-group">
      <label for="lastname">Nom</label>
      <input type="text" id="lastname" [(ngModel)]="user.lastname" name="lastname" required />
    </div>

    <div class="form-group">
      <label for="age">Âge</label>
      <input type="number" id="age" [(ngModel)]="user.age" name="age" required />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password"/>
    </div>

    <button type="submit" [disabled]="!user.firstname || !user.lastname || !user.age || !user.password">Enregistrer</button>
  </form>
</div>

  